{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ product.id }}</h1>
    <h1>{{ product.name }}</h1>
    <h1>{{ product.price }}</h1>
    <h1>{{ product.description }}</h1>
{% endblock %}

{% block stylesheets %}

{% endblock %}
